@import url(chrome/bookmark_panel_enlarge.css);
@import url(chrome/hide_tabs_toolbar_v2.css);

/*
Decrease size of the sidebar header.
*/

#sidebar-header {
  font-size: 1.2em !important;
  padding: 2px 6px 2px 3px !important;
}
#sidebar-header #sidebar-close {
  padding: 3px !important;
}
#sidebar-header #sidebar-close .toolbarbutton-icon {
  width: 14px !important;
  height: 14px !important;
  opacity: 0.6 !important;
}

/*
Decrease padding of bookmark menu items.

Based on: https://support.mozilla.org/en-US/questions/1337842
*/


menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
  padding-block: 2px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}
